<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="keystuff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <keystuff.Properties.Settings>
            <setting name="isAlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WordBuild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastKeyPress" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Segoe UI, 36pt</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="ThemeTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ThemeBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Autohide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.65</value>
            </setting>
            <setting name="ThemeHighlightColor" serializeAs="String">
                <value>60, 60, 60</value>
            </setting>
            <setting name="KeyMonitorWindowSize" serializeAs="String">
                <value>150, 150</value>
            </setting>
            <setting name="HideMain" serializeAs="String">
                <value>False</value>
            </setting>
        </keystuff.Properties.Settings>
    </userSettings>
</configuration>